redirects: on
source https://nuget.org/api/v2

nuget FSharp.Core
nuget FSharp.Formatting
nuget FAKE
nuget SourceLink.Fake
nuget Microsoft.Owin
nuget ExtCore

github fsharp/FAKE modules/Octokit/Octokit.fsx
